.head {
  display: flex;
  height: 500px;
  padding-left: 15%;
}

.border {
  background-color: black;
  height: 2%;
  padding: 0;
  width: 100%;
}

.container {
  background-color: aqua;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.topbar {
  display: flex;
  flex-direction: row-reverse;
  left: 0;
  width: 100%;
}
.topbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  background-color: burlywood;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}
.topbar a:hover {
  background-color: rgb(191, 159, 117);
}